@model IEnumerable<PepakDigital.Paramasastra>

@{
    ViewBag.Title = "Translasi Jawa ke Indonesia";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}

@using (Html.BeginForm())
{
    <h2>Cari kata:</h2>
    <div class="input-group">
        @Html.TextBox("cariData", ViewBag.FilterValue as string, new { @Placeholder = " Ketikkan kata Bahasa Jawa", @class ="form-control", @style = "max-width:100%;"})
    <span class="input-group-btn">
        <input type="submit" class="btn btn-primary" value="Temukan" />
    </span>
    </div>
    <br />
}

<div class="col-lg-15">
		  <div class="panel panel-primary">
					  <div class="panel-heading"><center><h4>TRANSLASI JAWA - INDONESIA</h4></center></div>
						<div class="panel-body">
							<table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ngoko)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Madya)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Inggil)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Indonesia)
                                        </th>
       
                                        <th></th>
                                    </tr>
                                    </thead>

                                <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ngoko)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Madya)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Inggil)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Indonesia)
                                        </td>
                                    </tr>
                                }
                                </tbody>
							</table>
						</div><!--/panel-body-->
           </div><!--/panel-->
