@model IEnumerable<PepakDigital.Parikan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>PARIKAN</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsiParikan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.Jenis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsiParikan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.Jenis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParikanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParikanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParikanId })
        </td>
    </tr>
}

</table>
