@model PepakDigital.Paribasan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Paribasan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsiParibasan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsiParibasan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori.Jenis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.Jenis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParibasanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
