@model IEnumerable<PepakDigital.Paribasan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>PARIBASAN</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsiParibasan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.Jenis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsiParibasan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.Jenis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParibasanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParibasanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParibasanId })
        </td>
    </tr>
}

</table>
