@model PagedList.IPagedList<PepakDigital.KawruhBasa>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}

<br />
<div class="col-lg-15">
		<div class="panel panel-primary">
		<div class="panel-heading"><center><h4>Kawruh Basa</h4></center></div>
		<div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        Tembung
                    </th>
                    <th>
                        Podho Tegese (Persamaan Kata)
                    </th>
                    <th>
                        Kosok Balen (Lawan Kata)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tembung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PodhoTegese)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KosokBalen)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
         Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
         @Html.PagedListPager(Model, Page_No =>Url.Action("Index",
         new { Page_No, Sorting_Order= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue })) 
    </div><!--/panel-body-->
</div><!--/panel-->