@model PagedList.IPagedList<PepakDigital.Kewan>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}

<br />
<div class="col-lg-15">    
		<div class="panel panel-primary">
        <div class="panel-heading"><center><h4>Arane Anak Kewan</h4></center></div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
			<thead>
                <tr><th> Jeneng Kewan</th>
                    <th> Arane Anak Kewan</th>
                </tr>
            </thead>
            <tbody>
				@foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JenengKewan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnakeKewan)
                        </td>
                    </tr>
                }
			</tbody>
			</table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, Page_No =>Url.Action("Index",
            new { Page_No, Sorting_Order= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue })) 
 
		</div><!--/panel-body-->
</div><!--/panel-->
</div>