@model PepakDigital.Paramasastra

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Paramasastra</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ParamasastraId)

        <div class="form-group">
            @Html.LabelFor(model => model.Ngoko, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngoko)
                @Html.ValidationMessageFor(model => model.Ngoko)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Madya, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Madya)
                @Html.ValidationMessageFor(model => model.Madya)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inggil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inggil)
                @Html.ValidationMessageFor(model => model.Inggil)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Indonesia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Indonesia)
                @Html.ValidationMessageFor(model => model.Indonesia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KategoriId, "KategoriId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KategoriId", String.Empty)
                @Html.ValidationMessageFor(model => model.KategoriId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
