@model IEnumerable<PepakDigital.Paramasastra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<br><br>
@using (Html.BeginForm())
{
    <p>
        Cari Kata : @Html.TextBox("cariData", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}

<div class="col-md-6">
		  <div class="panel panel-default">
					  <div class="panel-heading"><h4>PARAMASASTRA</h4></div>
						<div class="panel-body">
							<table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ngoko)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Madya)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Inggil)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Indonesia)
                                        </th>
       
                                        <th></th>
                                    </tr>
                                    </thead>

                                <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ngoko)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Madya)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Inggil)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Indonesia)
                                        </td>
                                    </tr>
                                }
                                </tbody>
							</table>
						</div><!--/panel-body-->
           </div><!--/panel-->
