@model PepakDigital.KawruhBasa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KawruhBasa</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tembung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tembung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodhoTegese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodhoTegese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KosokBalen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KosokBalen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori.Jenis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.Jenis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KawruhBasaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
