@model PagedList.IPagedList<PepakDigital.Paramasastra>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithSidebar.cshtml";
}
<br>
<div class="col-lg-18">
	<div class="panel panel-primary">
	<div class="panel-heading"><center><h4>Paramasastra</h4></center></div>
	<div class="panel-body">
		<table class="table table-striped">
            <thead>
                <center><tr>
                    <th>
                       @Html.ActionLink("Ngoko", "Index", new { sortData = ViewBag.SortingName })                  
                    </th>
                    <th>
                        Madya
                    </th>
                    <th>
                        Inggil
                    </th>
                    <th>
                        Indonesia
                    </th>
                </tr></center>
                </thead>

            <tbody>
            @foreach (var item in Model) {
                <tr><center>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngoko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Madya)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inggil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indonesia)
                    </td>
                </center></tr>
            }
            </tbody>
		</table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, Page_No =>Url.Action("Index",
            new { Page_No, Sorting_Order= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue })) 
 
		</div><!--/panel-body-->
        </div><!--/panel-->